.container {
  width: 80%;
  margin: auto;
}
.category-list {
  min-height: 20vh;
  width: 80%;
  display: inline-block;
  background-color: #ccc;
  border-radius: 5px;
}
.category-list li {
  width: fit-content;
  position: relative;
  float: left;
  list-style: none;
  padding: 10px;
  margin: 20px;
}
.category-list li button {
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  border: none;
  background: #fff;
  outline: none;
  text-transform: capitalize;
}
.category-list li button:focus {
  background: #1581c4;
  color: #fff;
}
.selected-category {
  display: flex;
  justify-content: center;
  margin: 10px;
  text-transform: capitalize;
}
.joke {
  background-color: #1581c4;
  padding: 40px 20px;
  color: #fff;
  border-radius: 5px;
}
.new-joke-button {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: none;
  color: #1581c4;
  outline: none;
}
.loader{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: relative;
  }
  
  /* LOADER 1 */
  
  #loader-1:before, #loader-1:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 10px solid transparent;
	border-top-color: #3498db;
  }
  
  #loader-1:before{
	z-index: 100;
	animation: spin 1s infinite;
  }
  
  #loader-1:after{
	border: 10px solid #ccc;
  }
  
  @keyframes spin{
	0%{
	  -webkit-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
  
	100%{
	  -webkit-transform: rotate(360deg);
	  -ms-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  