.container {
  width: 80%;
  margin: auto;
}

.category-list-container {
  background-color: #ccc;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  border-radius: 5px;
  width: 100%;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  list-style: none;
  place-content: center;
  gap: 1.5rem;
  width: 100%;
}

.category-list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-list li div {
  width: 100%;
  height: 100%;
}

.selected-category {
  display: flex;
  justify-content: center;
  margin: 10px;
  text-transform: capitalize;
}
.joke {
  background-color: #1581c4;
  padding: 40px 20px;
  color: #fff;
  border-radius: 5px;
}
.new-joke-button {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: none;
  color: #1581c4;
  outline: none;
}

.cat-btn  {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 4px;
  text-transform: capitalize;
}

.cat-active {
  background-color: #1581c4;
  color: white;
}

@media screen and (max-width: 1780px) {
  .category-list {
    grid-template-columns: repeat(6,1fr);
  }
}
@media screen and (max-width: 1345px) {
  .category-list {
    grid-template-columns: repeat(5,1fr);
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 10px;
    width: unset !important;
    padding: 10px;
  }

  .category-list-container {
    padding: 0.5rem;
    /* margin: 0.5rem; */
  }

  .category-list {
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
  }

  .category-list button {
    padding: 5px;
  }
}
/* @media screen and (max-width: 500px) {
  .category-list {
    grid-template-columns: repeat(2,1fr);
  }
} */